@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: local("Lato"), url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: local("Lato"), url("../fonts/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato-Bold.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-weight: 500;
  src: local("Lato"), url("../fonts/Lato-Medium.woff2") format("woff2"),
    url("../fonts/Lato-Medium.woff") format("woff");
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
$greyMedium: #dbe1de;
$primaryDark: #007994;
$secondaryLight: #61ac71;
$dark: #072228;
$accent: #8adc9c;
$white: #fff;
$breakpoint-tablet: 768px;
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding-left: 17.734rem;
  padding-top: 3rem;
  @media screen and (max-width: $breakpoint-tablet) {
    padding-left: 0;
    padding-top: 0;
  }
}

.body-font {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.h1-font {
  font-size: 3rem;
  line-height: 5rem;
  font-weight: 700;
  margin: 0;
}
.h3-font {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  margin: 0;
}
.h4-font {
  font-size: 1.5rem;
  line-height: 2.3rem;
  font-weight: 400;
  margin: 0;
}
.h5-font {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
  margin: 0;
}
.h4Bold-font {
  @extend .h4-font;
  font-weight: 700;
}
.h6-font {
  color: $dark;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin: 0;
}
.h6Bold-font {
  @extend .h6-font;
  font-weight: 700;
}
.links-font {
  color: $dark;
  font-size: 0.875rem;
  line-height: 1.313rem;
  font-weight: 500;
}
@media screen and (max-width: $breakpoint-tablet) {
  .body-font {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .h1-font {
    font-size: 2rem;
    line-height: 3rem;
  }
  .h3-font {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .h4-font {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .h5-font {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .h6-font {
    color: $dark;
    font-size: 0.875rem;
    line-height: 1rem;
  }

  .links-font {
    line-height: 1rem;
  }
}
/*button*/
@mixin button-or-label($color) {
  @extend .links-font;
  border-radius: 2rem;
  height: 2.2rem;
  border: 0;
  background-color: $color;
  padding: 0 1rem;
}

.side-nav {
  position: fixed;
  z-index: 100;
  left: 0;
  height: 100%;
  width: 17.734rem;
  padding-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $greyMedium;
  transition: all 0.5s;

  .x {
    display: none;
  }
  .avatar-container {
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    border: 1px solid $primaryDark;
    box-shadow: 0 1px 5px $primaryDark;
    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }
  .social-media {
    display: flex;
    flex-direction: column;
    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 1rem;
      a {
        display: inline-block;
        margin: 0 1rem;
      }
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    .row {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 1rem;
      position: relative;
      .title {
        display: flex;
        align-items: center;
        @extend .h6-font;
        text-transform: capitalize;
        &.email::before {
          position: absolute;
          left: -2rem;
          content: url("../svgs/email.svg");
        }
        &.phone::before {
          position: absolute;
          left: -2rem;
          content: url("../svgs/phone.svg");
        }
      }
      .content {
        display: flex;
        @extend .h6Bold-font;
      }
    }
  }
  @media screen and (max-width: $breakpoint-tablet) {
    width: auto;
    right: 0;
    top: 0;
    overflow: hidden;
    &.hide {
      transform: translateX(-100%);
    }
    .x {
      display: block;
      color: $dark;
      font-weight: 700;
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 1.4rem;
    }
  }
}

.top-nav {
  position: fixed;
  height: 3.125rem;
  background-color: $greyMedium;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    span {
      @extend .links-font;
      padding: 0 1rem;
      text-transform: capitalize;
      cursor: pointer;
      &.active {
        color: $primaryDark;
      }
    }
    .download-cv {
      position: absolute;
      right: 1rem;
      button {
        @include button-or-label($secondaryLight);
      }
    }
  }
  @media screen and (max-width: $breakpoint-tablet) {
    position: relative;
    height: auto;
    .links {
      flex-direction: column;
      width: 100%;
      padding: 1rem 0;
      align-items: center;

      a {
        padding: 0.5rem 0;
      }
      .download-cv {
        position: relative;
        right: auto;
      }
    }
  }
}
section {
  padding-top: 3rem;
  .title {
    @extend .h3-font;
    color: $dark;
    text-transform: capitalize;
    background-image: url("../svgs/v-cylinder.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 1.2rem;
    margin: 0;
  }
}
.highlight {
  padding-left: 1rem;
  padding-right: 1rem;
  background: linear-gradient(180deg, #b6e4ee 0%, rgba(255, 255, 255, 0) 30%);
  .name {
    @extend .h1-font;
    color: $primaryDark;
  }
  .intro {
    @extend .h4-font;
    color: $dark;
    max-width: 80%;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    .intro {
      max-width: 100%;
    }
  }
}
.top-skills {
  .top-skills-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    label {
      @include button-or-label($accent);
      display: flex;
      align-items: center;
      margin: 0 1rem;
      @media screen and (max-width: $breakpoint-tablet) {
        margin-bottom: 1rem;
      }
    }
  }
}
.projects {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1rem;
  width: 100%;
  overflow: hidden;
  ::-webkit-scrollbar {
    display: none;
  }

  .projects-list {
    position: relative;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 2rem;
    margin-top: 1.5rem;

    .project {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      width: 17.5rem;
      margin: 0 1rem;
      img {
        height: 16.25rem;
      }
      .project-title {
        @extend .h4Bold-font;
        padding: 0.8rem 0;
        color: $dark;
      }
    }
  }
}
.experience-history,
.education-history {
  display: flex;
  flex-direction: column;
  .experience,
  .education {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    .content {
      display: flex;
      .location,
      .from-to {
        color: $dark;
        @extend .h6-font;
        display: flex;
        flex-direction: column;
      }
      .location {
        justify-content: center;
        padding: 0 1rem;
      }
      .from-to {
        justify-content: space-between;
        align-items: center;
        .dot {
          display: inline-block;
          height: 0.5rem;
          width: 0.5rem;
          border-radius: 50%;
          background-color: $greyMedium;
          margin: 1rem 0;
        }
      }
      .details {
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem;
        .company,
        .major {
          @extend .h4-font;
          color: $primaryDark;
          text-transform: capitalize;
        }
        .university {
          @extend .h5-font;
          color: $dark;
          padding: 0.5rem;
        }
        .company-description,
        .university-description {
          @extend .body-font;
          color: $dark;
          padding: 0.5rem;
          max-width: 37.5rem;
        }
        .tasks,
        .skills,
        .courses {
          display: flex;
          flex-direction: column;
          h5 {
            @extend .h5-font;
            color: $dark;
            text-transform: capitalize;
            padding: 0.5rem 0;
          }
        }
        .tasks {
          ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            list-style: none;
            list-style-image: url("../svgs/square.svg");
            li {
              @extend .body-font;
              padding: 0.2rem;
            }
          }
        }
        .skills,
        .courses {
          .skills-list,
          .courses-list {
            display: flex;
            padding: 0.5rem;
            label {
              @include button-or-label($greyMedium);
              display: flex;
              align-items: center;
              margin: 0 1rem;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint-tablet) {
    .experience,
    .education {
      .content {
        flex-direction: column;
        padding: 0 1rem;
        .location,
        .from-to {
          flex-direction: row;
        }
        .details {
          padding: 0;
          .tasks,
          .skills,
          .courses {
            .skills-list,
            .courses-list {
              flex-wrap: wrap;
              label {
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
/*modal*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  // transition: all 1s ease-out;
  .x-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    @extend .h4-font;
    cursor: pointer;
  }
}
#project-details-modal {
  z-index: 999;
  background-color: $white;
  .x-close {
    color: $dark;
  }
  &.hide {
    display: none;
  }
}
#project-gallery-slider {
  z-index: 1000;
  background-color: rgba(7, 34, 40, 0.66);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .x-close {
    color: $white;
  }
  &.hide {
    display: none;
  }
}
.project-details {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #b6e4ee 0%, rgba(255, 255, 255, 0) 5rem);
  padding-top: 3rem;
  padding-bottom: 1rem;
  .project-description {
    @extend .h5-font;
    padding: 1rem;
    color: $dark;
    max-width: 43.75rem;
  }
  .project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    img {
      max-height: 13.25rem;
      max-width: 20rem;
      margin: 1rem;
      cursor: pointer;
    }
    @media screen and (max-width: $breakpoint-tablet) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }
}
.project-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $white;
  padding: 2rem;
  width: 80%;
  height: 90%;
  @media screen and (max-width: $breakpoint-tablet) {
    padding: 1rem;
    width: 95%;
    height: 85%;
  }
  position: relative;
  img {
    max-width: 76.25rem;
    @media screen and (max-width: $breakpoint-tablet) {
      max-width: 100%;
    }
  }
  .image-description {
    @extend .h5-font;
    padding: 1rem;
    color: $dark;
    max-width: 43.75rem;
  }
}

.projects,
.project-image {
  .next-item {
    display: inline-block;
    content: url("../svgs/left-arrow.svg");
    transform: rotate(180deg);
    margin-left: 0.5rem;
  }
  .prev-item {
    display: inline-block;
    content: url("../svgs/left-arrow.svg");
  }
  .hide {
    visibility: hidden;
  }
}
.projects {
  .next-prev {
    position: absolute;
    cursor: pointer;
    right: 1rem;
  }
}
.project-image {
  .next-item {
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }
  .prev-item {
    position: absolute;
    left: 1rem;
    cursor: pointer;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    .next-item {
      top: 10%;
      right: 0.4rem;
    }
    .prev-item {
      top: 10%;
      left: 0.4rem;
    }
  }
}
/*mobile header*/
.small-device-header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  button {
    @include button-or-label($secondaryLight);
  }
  @media screen and (max-width: $breakpoint-tablet) {
    background-color: $greyMedium;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
  }
}
